.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.change{
    background-color: rgba(255,0,255,.3);
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 2px solid red ;
    
}